@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Belanosima:wght@700&family=Kanit:wght@300&family=Playfair+Display:ital,wght@0,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,600;1,400&family=Roboto:ital,wght@0,300;0,400;1,400&family=Varela+Round&display=swap');
:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

* {
  margin: 0;
}

body {
  font-family: "poppins", sans-serif;
}

.container {
  max-width: 1288px;
  margin: 0 auto;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  border-radius: 10%;
  color: white;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.hero {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  height: calc(100vh-72px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero h1 {
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
}

.hero p {
  font-weight: 800;
  color: var(--gray);
  max-width: 400px;
}

.hero-btn {
  display: flex;
  gap: 40px;
  cursor: pointer;
}

.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}

.brand-icons {
  display: flex;
  gap: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  .hero {
    margin-top: 20px;
    /* Adjust margins for smaller screens */
    height: auto;
    /* Remove fixed height */
  }

  .hero h1 {
    font-size: 48px;
    /* Adjust font size for smaller screens */
    line-height: 48px;
    /* Adjust line height accordingly */
  }
}